// Realizations styles

.realizations {
	background-color: $secondary-color;
	&__item {
		background-color: $light-color;
		margin-bottom: 2em;
		padding: 1em;
		h3 {
			margin-bottom: 1em;
			line-height: 1.2;
		}
		p {
			margin-bottom: 1em;
		}
		img {
			width: 100%;
		}
	}
}